<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        Системная резервная копия выключена: данные шифруются нашим ключом и не
        должны уходить в облако или на другое устройство в обход него.
        Свой Application не заводится, пока не нужен: процесс поднимается и ради
        клавиатуры, его запуск должен оставаться лёгким.
    -->
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:label="Quazio"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            «В учёт Quazio»: пункт в меню выделенного текста любого приложения и в
            «Поделиться». Окно без интерфейса, вне задачи вызвавшего приложения.
        -->
        <activity
            android:name=".QuickTextActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:label="@string/quick_text_label"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/quick_text_label">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/quick_text_label">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>
